body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 10px;
    padding: 10px;
}

.logo {   
    width: 100px;
    height: 100px;
}

header {
    text-align: center;
}

footer {
    margin-top: 50px;
    position: relative;
    text-align: center;
    background-color: rgb(89, 138, 180);
}